* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url("../img/bg2.jpg");
    border-bottom-left-radius: 10px;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    color: white;
}


/* ---------------- Navbar CSS ----------------- */

.coloroverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    font-size: 22px;
    justify-content: space-between;
    transition: 1s;
}

.navbar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgb(59, 59, 59);
    margin: 15px;
}

.navbar h3 {
    position: absolute;
    display: flex;
    width: 300px;
    height: 90px;
    left: 90px;
    justify-content: left;
    align-items: center;
    text-transform: uppercase;
    font-weight: 800px;
    font-size: 24px;
    text-shadow: 0px 5px 10px rgb(26, 25, 25);
}

.navbar h3 a {
    text-decoration: none;
    color: rgb(230, 230, 4);
}

.navbar nav {
    width: 40%;
    text-align: right;
    display: inline-block;
    overflow: hidden;
    transition: 1s;
}

.navbar nav a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 800px;
    color: white;
    margin-right: 50px;
    padding: 10px;
}

.navbar nav a:hover {
    background-color: rgb(230, 230, 4);
    color: rgb(0, 0, 0);
}

.navbar #menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
    right: 10px;
    width: 50px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

.navbar nav #closeMenu {
    padding: 10px;
    cursor: pointer;
    display: none;
}


/* ---------------- Content CSS ----------------- */

.content {
    width: 100%;
    height: 100vh;
    margin: auto;
    padding: 120px;
    text-align: center;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: hidden;
    transition: 1s;
}

.content #btn {
    position: relative;
    top: 30px;
    width: 140px;
    height: 50px;
    background-color: rgb(230, 230, 4);
    color: black;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 1500px;
    border-radius: 8px;
    transition: 0.8s;
}

.content #btn:hover {
    background-color: rgb(201, 201, 0);
    color: black;
}


/* Media Queries  */

@media (max-width: 600px) {
    .content {
        text-align: left;
        padding: 120px 20px;
        font-size: 20px;
    }
    .navbar nav {
        height: 300px;
        width: 200px;
        background-color: rgba(0, 0, 0, 0.767);
        text-align: left;
        position: absolute;
        display: none;
        top: 30px;
        box-shadow: 5px 5px 5px 5px 15px rgb(26, 25, 25);
        z-index: 1;
    }
    .navbar nav a {
        text-indent: 10px;
        margin: 10px;
        display: block;
    }
    .navbar nav h3 {
        font-size: 18px;
    }
    .navbar #menu-btn {
        display: block;
    }
    .navbar nav #closeMenu {
        display: block;
    }
}