* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

.container {
    width: 300px;
    height: 100vh;
    background-image: url(../img/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

.container .sidebar {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 100vh;
    background-color: rgba(12, 12, 85, 0.7);
    text-align: center;
    color: rgb(214, 213, 213);
    position: fixed;
    overflow: hidden;
}

.container .sidebar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 10%;
    padding: 20px;
    transition: 0.5s;
}

.container .sidebar a {
    text-decoration: none;
    color: white;
}

.container .sidebar a h2 {
    transition: 0.5s;
}

.container .sidebar a h2:hover {
    color: rgb(240, 240, 4);
}

.container .sidebar .links {
    margin-top: 20px;
    padding: 35px;
    font-size: 18px;
    font-weight: bold;
}

.container .sidebar .links #full-scrn {
    display: block;
}

.container .sidebar .links a {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.5s;
}

.container .sidebar .links a:hover {
    font-size: 18px;
    color: rgb(240, 240, 4);
}

.container .sidebar .links a:active {
    border-bottom: 1px solid white;
}

.container .sidebar .links #mob-dev {
    display: none;
}

.container .sidebar .social-btns {
    text-align: center;
    position: relative;
    bottom: 20px;
    font-size: 20px;
}

.container .sidebar .social-btns a {
    text-decoration: none;
    color: white;
}

.container .sidebar .social-btns i {
    margin-top: 10px;
    padding: 10px;
    transition: 0.5s;
}

.container .sidebar .social-btns i:hover {
    color: rgb(240, 240, 4);
}

.container .sidebar .social-btns p {
    font-size: 14px;
    text-align: center;
    padding: 10px;
}

.details {
    margin-left: 290px;
    width: 90%;
    height: 100%;
    background-color: white;
}

.details #portf {
    padding: 20px;
    color: rgb(73, 73, 73);
}


/*work1*/

.details #portf .works #work1 {
    display: flex;
    justify-content: space-between;
}

.details #portf .works #work1 img {
    width: 250px;
    height: 180px;
    padding-top: 10px;
    padding-right: 10px;
}

.details #portf .works #work1 #hazara {
    padding: 40px;
}

.details #portf .works #work1 #hazara ul {
    padding-left: 30px;
    font-size: 20px;
}

.details #portf .works #work1 #hazara a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(73, 73, 73);
    transition: 1s;
}

.details #portf .works #work1 #hazara a h2 {
    font-size: 24px;
}

.details #portf .works #work1 #hazara a:hover {
    color: rgb(6, 6, 110);
}


/*work2*/

.details #portf .works #work2 {
    display: flex;
    justify-content: space-between;
}

.details #portf .works #work2 img {
    width: 250px;
    height: 150px;
    padding-top: 10px;
    padding-right: 10px;
}

.details #portf .works #work2 #storebea {
    padding: 40px;
}

.details #portf .works #work2 #storebea ul {
    padding-left: 30px;
    font-size: 20px;
}

.details #portf .works #work2 #storebea a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(73, 73, 73);
    transition: 1s;
}

.details #portf .works #work2 #storebea a h2 {
    font-size: 24px;
}

.details #portf .works #work2 #storebea a:hover {
    color: rgb(6, 6, 110);
}


/*work3*/

.details #portf .works #work3 {
    display: flex;
    justify-content: space-between;
}

.details #portf .works #work3 img {
    width: 220px;
    height: 120px;
    padding-top: 10px;
    padding-right: 10px;
}

.details #portf .works #work3 #jeans {
    padding: 40px;
}

.details #portf .works #work3 #jeans ul {
    padding-left: 30px;
    font-size: 20px;
}

.details #portf .works #work3 #jeans a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(73, 73, 73);
    transition: 1s;
}

.details #portf .works #work3 #jeans a h2 {
    font-size: 24px;
}

.details #portf .works #work3 #jeans a:hover {
    color: rgb(6, 6, 110);
}


/* ---------- Contact Page ----------- */

.details #contact {
    height: 100%;
    background-color: white;
    margin-left: 20px;
    padding: 50px;
    color: rgb(66, 66, 66);
}

.details #contact h1 {
    font-size: 34px;
}

.details #contact p {
    font-size: 18px;
}

.details #contact #contact-list {
    font-size: 16px;
}

.details #contact i {
    color: rgb(6, 6, 110);
    text-align: right;
}

.details #contact #contact-list a {
    text-decoration: none;
    color: rgb(6, 6, 110);
    font-weight: bold;
}

.details #contact #contact-list i {
    font-weight: bold;
}

@media (max-width:600px) {
    .details {
        display: none;
    }
    .container {
        width: 100vw;
    }
    .container .sidebar {
        width: 100vw;
        text-align: center;
    }
    .container .sidebar .links #full-scrn {
        display: none;
    }
    .container .sidebar .links #mob-dev {
        position: relative;
        top: 0px;
        display: block;
    }
}


/* Contact Page */

.cont-page {
    width: 100vw;
    background-color: rgb(193, 212, 247);
    border: 2px solid black;
    padding: 20px;
}

.cont-page h1 {
    font-size: 36px;
}

.cont-page p {
    font-size: 20px;
    padding: 10px;
}

.cont-page #cont-page-list {
    font-size: 18px;
    padding: 20px;
    color: black;
}

.cont-page #cont-page-list a {
    text-decoration: none;
    color: rgb(3, 3, 46);
}


/* Portfolio Page */

.portf-page {
    width: 100vw;
    background-color: rgb(193, 212, 247);
}

.portf-page #portf {
    padding: 20px;
    background-color: rgb(193, 212, 247);
}


/*work1*/

.portf-page #portf .works #work1 {
    display: inline-block;
}

.portf-page #portf .works #work1 img {
    position: relative;
    width: 80%;
    height: auto;
    padding-top: 10px;
    bottom: 20px;
}

.portf-page #portf .works #work1 #hazara {
    padding: 40px;
}

.portf-page #portf .works #work1 #hazara ul {
    padding-left: 30px;
    font-size: 20px;
}

.portf-page #portf .works #work1 #hazara a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(73, 73, 73);
    transition: 1s;
}

.portf-page #portf .works #work1 #hazara a h2 {
    font-size: 24px;
}

.portf-page #portf .works #work1 #hazara a:hover {
    color: rgb(6, 6, 110);
}


/*work2*/

.portf-page #portf .works #work2 {
    display: inline-block;
}

.portf-page #portf .works #work2 img {
    position: relative;
    width: 80%;
    height: auto;
    padding-top: 10px;
    bottom: 20px;
}

.portf-page #portf .works #work2 #storebea {
    padding: 40px;
}

.portf-page #portf .works #work2 #storebea ul {
    padding-left: 30px;
    font-size: 20px;
}

.portf-page #portf .works #work2 #storebea a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(73, 73, 73);
    transition: 1s;
}

.portf-page #portf .works #work2 #storebea a h2 {
    font-size: 24px;
}

.portf-page #portf .works #work2 #storebea a:hover {
    color: rgb(6, 6, 110);
}


/*work3*/

.portf-page #portf .works #work3 {
    display: inline-block;
}

.portf-page #portf .works #work3 img {
    position: relative;
    width: 80%;
    height: auto;
    padding-top: 10px;
    bottom: 20px;
}

.portf-page #portf .works #work3 #jeans {
    padding: 40px;
}

.portf-page #portf .works #work3 #jeans ul {
    padding-left: 30px;
    font-size: 20px;
}

.portf-page #portf .works #work3 #jeans a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(73, 73, 73);
    transition: 1s;
}

.portf-page #portf .works #work3 #jeans a h2 {
    font-size: 24px;
}

.portf-page #portf .works #work3 #jeans a:hover {
    color: rgb(6, 6, 110);
}

@media (max-width: 600px){
    .cont-page #cont-page-list{
           display: block;
           font-size: 16px;
    }
}
